main > h1{
    text-align: center;
    font-size: 30px;

    margin: 50px 0;
}

.search_bar_place{
    display: flex;
    justify-content: center;

    margin-bottom: 30px;
}
.search_bar{
    display: flex;

    width: 70%;
    line-height: 30px;

    border: 1px solid black;
}
.search_bar > input{
    width: 100%;
    margin: 0;
}
.search_bar > .search_icon{
    width: 30px;
    height: 30px;

    border: 1px solid black;

    margin-right: 20px;
}

.search_filter > a{
    font-size: 25px;
    margin-right: 10px;
}

.search_sorter{
    display: flex;
    justify-content: right;
}





.catalog{
    display: grid;

    margin: 30px 10px;
}




.prod_mini{
    height: auto;

    margin: 0 0 30px;
}
.prod_gallery{
    margin: 10px;
    border: solid 1px black;
}
.prod_gallery > img{
    width: 100%;
    height: auto;
}
.prod_tags{
    margin: 0 10px;
    display: flex;
}
.prod_tags > a{
    margin-right: 10px;
}
.prod_main_info{
    margin: 10px 10px;

    display: flex;
    justify-content: space-between;
}