.log_reg_changer{
    display: flex;
    justify-content: center;

    padding: 10px 0 1px;

    background-color: black;
    color: white;
    font-weight: 500;
}
.log_reg_changer > div{
    width: 170px;
    margin: 0 5px;
    line-height: 35px;

    font-size: 17px;
    text-align: center;
    cursor: pointer;
}
.log_reg_chacked{
    border-bottom: solid 2px white;
}

.log_page_main_part{
    overflow: hidden;
}
.log_reg_slide_part{
    display: flex;
    transition: 0.4s;

    position: relative;
    left: 0px;
}





.signup_part > div, .signin_part > div{
    margin: 60px auto 30px;
    padding: 0 15px;
    max-width: 600px;

    display: flex;
    flex-direction: column;
}
.signup_part > div > h2, .signin_part > div > h2{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}
.signup_part > div > div, .signin_part > div > div{
    display: flex;
    align-items: center;
}
.log_reg_input{
    line-height: 45px;
    margin-bottom: 7px;
    padding-left: 5px;

    border: solid 1px rgb(216, 216, 216);
    outline:none;

    /* margin: 40px 10px;
    width: 100%; */
}
.log_reg_input:focus{
    border: solid 1px rgb(216, 216, 216);
}
.log_reg_input::placeholder{
    opacity: 0.8;
}
.misk_info_h2{
    transition: 0.2s;
    margin-bottom: 10px;
    color: rgb(60, 60, 60);
}
.save_me_log_reg{
    margin: 15px 10px 17px;
}
.save_me_log_reg > label > input{
    margin-right: 12px;
}
#mss_prt{
    margin-top: 120px;
    display: none;
}



.captcha{
    display: block !important;

    margin: 40px 0;
}
.cap_img_box{
    margin: 0 auto;
    max-width: 350px;
}
.cap_img_box > *{
    width: 100%;
}
.cap_but_box > input{
    max-width: 250px;
    flex-shrink: 2;
}
.cap_but_box > button{
    width: 130px;
    height: 47px;

    cursor: pointer;
    border: none;
    color: white;
    background-color: black;
    flex-shrink: 0;
}
.cap_but_box{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 400px;
}
.cap_but_box > button{
    font-size: 16px;
    font-weight: 500;
}


.log_reg_err{
    margin-top: 12px;
    color: red;
    font-size: 23px;
}
.cap_err{
    margin: -40px auto 0;
    color: red;
    font-size: 23px !important;
}



.update_pass{
    margin: 40px auto;
    display: block;
    color: rgb(60, 60, 60);
    cursor: pointer;
}
.update_pass:hover{
    border-bottom: solid 1px black;
}