@media screen and (min-device-width: 980px) /* Desktop */ {
    .main_prod_part{
        margin: 140px 300px 50px;
        display: flex;
        justify-content: space-between;
    }

    .gallery_box{
        border: solid 1px black;
        width: 400px;
        min-width: 400px;
        height: 400px;
        overflow: hidden;
        user-select: none;
    }
    .gallery{
        display: flex;
        transition: 0.3s;
    
        position: relative;
        left: 0px;
    }
    .gallery > img{
        width: 100%;
        height: auto;
    }

    .main_info_box{
        text-align: right;
        margin-left: 40px;
    }
    .main_info_box > div{
        font-size: 30px;
        margin: 0 0 20px;
    }

    .info_part{
        margin: 0 300px 100px;
    }
}
   
@media screen  and (max-device-width: 979px) and (min-device-width: 501px) /* Tablet */ {

}
   
@media screen and (max-device-width: 500px) /* Mobile */ {
    .main_prod_part{
    }

    .gallery_box{
        width: 100%;
        height: 400px;
        overflow: hidden;
        user-select: none;
    }
    .gallery{
        display: flex;
        transition: 0.3s;
    
        position: relative;
        left: 0px;
    }
    .gallery > img{
        width: 100%;
        height: auto;
    }

    .main_info_box{
        margin: 0 15px;
    }
    .price{
        margin: 0 0 20px;
        font-size: 33px;
    }


    .info_part{
        margin: 20px 15px;
    }
}
.control{
    display: flex;
    justify-content: space-between;
}
.control > div{
    border: solid 1px black;
    background-color:lightslategrey;
    cursor: pointer;
    
    width: 20px;
    line-height: 20px;
    text-align: center;

    position: relative;
    bottom: 190px;
}






.buy_but{
    margin-top: 10px;
    text-align: center;
    padding: 5px;
    
    cursor: pointer;
    color: white;
    background-color: black;
}





.info_part > div{
    margin: 50px 0 100px;
}



.size_menu{
    transition: 0.3s;
    margin-top: 10px;
    overflow: hidden;
}
.size_menu > .size_part{
    transition: 0.2s;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.size_menu > .menu_head{
    background-color: black;
    overflow: hidden;
    z-index: 100;

    padding: 3px 15px;
    margin-bottom: 7px;

    display: flex;
    justify-content: space-between;
}
.menu_head > div{
    color: white;
}
#avail_size{
    font-size: 20px;
}
.anim{
    transform: rotate(-90deg);
}
.size_var{
    border: solid 1px black;
    transition: 0.2s;
    cursor: pointer;
    text-align: center;

    line-height: 35px;
    margin: 0 0 5px 5px;
    width: 70px;
    height: 70px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.size_var > div{
    width: 100%;
}
.size_var > input{
    display: none;
}
.size_var:hover{
    background-color: rgb(150, 150, 180);
}
.size_var > input:checked + div{
    border: solid 3px black;
}
.size_var > div > .var_size{
    font-size: 25px;
    line-height: 30px;

    margin: 5px 0 0;
}
.size_var > div > .var_price{
    line-height: 25px;
    margin-bottom: 4px;

    font-size: 16px;
}