.sorter_item{
    height: 40px;
    margin: 5px 15px 0 0;
    padding-left: 29px;

    background-image: url(../img/svg/sort.svg);
    background-position: left;
    background-size: 29px;
    align-items: center;
}
.avail_sort{
    line-height: 40px;
    width: 270px;
    margin: 0 5px;

    font-weight: 500;

    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.sort_icon{
    transition: 0.2s;
    background-image: url(../img/svg/next_black.svg);
    background-size: cover;
    transform: rotate(-90deg);

    width: 20px;
    height: 20px;
    margin-left: 20px;
}
.sort_vars{
    position: absolute;
    overflow-y: hidden;
    background-color: white;

    transition: 0.2s;
    z-index: 20;
    opacity: 0;
    border: solid 1px black;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

    max-height: 256px;
    padding: 15px 0;
}
.sort_vars > div{
    cursor: pointer;

    line-height: 31px;
    padding: 3px 5px;
}


@media screen and (max-width: 600px) {
    .avail_sort{
        width: 200px;
    }
    .avail_sort > span{
        font-size: 18px;
    }
    .sort_vars > div{
        font-size: 18px;
    }
}