.story_item{
    max-width: 800px;
    margin: 50px auto 100px;
    padding: 0 15px;
}

.story_top_part{
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
}
.story_stat{
    border-radius: 3px;
    line-height: 30px;
    width: 105px;

    text-align: center;
    background-color: rgb(78, 219, 78);
    background-color: rgb(117, 117, 238);
}


.story_personal_part{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.story_personal_part > *{
    margin-bottom: 5px;
}
@media screen and (max-width: 400px) {
    .story_personal_part{
        display: block;
    }
}


.story_adrs_part{
    margin-bottom: 30px;
}


.story_bot_part{
    display: flex;
    justify-content: right;
    margin-top: 20px;
}
.story_bot_part > div{
    margin-right: 25px;
}