.inCartProd{
    transition: 0.2s;
    margin-bottom: -1px;
    
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    height: fit-content;
    width: 100%;
}
.inCartProd > div{
    margin: 0 15px;
    background-color: white;
}
.cart_prod_main_info{
    display: flex;
    padding-top: 10px;
}

.cart_template{
    width: 130px;

    margin-right: 15px;
    margin-bottom: -10px;
}
.cart_template > img{
    position: relative;
    top: -10px;
    width: 130px;
    height: auto;
}
.cart_right_text    {
    padding: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.quant_menu{
    display: flex;
    line-height: 40px;
    margin-bottom: 5px;
}
.quant_menu > div{
    width: 30px;
    text-align: center;
}
#minus, #plus{
    cursor: pointer;
}
.del{
    background-image: url(../img/svg/trash.svg);
    background-size: 28px;
}



.cart_prod_info{
    padding: 0 10px 10px;

    display: flex;
    justify-content: space-between;
}