.window_cover{
    z-index: 1000;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.info_over_window{
    background-color: black;
    color: white;

    width: 320px;
    height: 200px;
}